.floating-container {
    width: 100px;
    height: 100px;
    padding: 0 40px 33px 0;
    position: relative;
    // &:hover {
    //     transform: translateX(-5px);
    // }
    .floating-button {
        position: absolute;
        width: 68px;
        height: 68px;
        line-height: 80px;
        background-color: var(--color-primary-0);
        border-radius: 50%;
        cursor: pointer;
        // bottom: 0;
        // left: 0;
        // right: 0;
        color: white;
        text-align: center;
        font-size: 23px;
        // -webkit-transition: all 0.3s;
        // transition: all 0.3s;
    }

    .element-container {
        position: relative;
        text-align: center;
        top: 8px;
        // @extend .floating-container;
        .float-element {
            z-index: 0;
            &:nth-child(1) {
                transform: translateX(-220px);
                width: 60px;
                height: 60px;
                border-radius: 50%;
                line-height: 80px;
                background-color: $gray;
                // animation: come-in 0.4s forwards;
            }
            &:nth-child(2) {
                transform: translateX(-120px);
                background-color: $gray;
                width: 60px;
                height: 60px;
                border-radius: 50%;
                line-height: 80px;
                // animation: come-in 0.4s forwards;
            }
            position: absolute;
        }
    }
    // @-webkit-keyframes come-in {
    //     0% {
    //         opacity: 0;
    //     }
    //     30% {
    //         transform: translatex(150px) scale(0.4);
    //     }
    //     70% {
    //         transform: translatex(0) scale(1.2);
    //     }
    //     100% {
    //         transform: scale(1);
    //     }
    // }
}
