.primary-0 {
  color: #2f80ed;
}

.bg-primary-0 {
  background-color: #2f80ed;
}

.primary-1 {
  color: #4f4f4f;
}

.bg-primary-1 {
  background-color: #4f4f4f;
}

.primary-2 {
  color: #828282;
}

.bg-primary-2 {
  background-color: #828282;
}

.primary-3 {
  color: #e0e0e0;
}

.bg-primary-3 {
  background-color: #e0e0e0;
}

.indicators-0 {
  color: #f8b76b;
}

.bg-indicators-0 {
  background-color: #f8b76b;
}

.indicators-1 {
  color: #8785ff;
}

.bg-indicators-1 {
  background-color: #8785ff;
}

.indicators-2 {
  color: #eb5757;
}

.bg-indicators-2 {
  background-color: #eb5757;
}

.indicators-3 {
  color: #f2c94c;
}

.bg-indicators-3 {
  background-color: #f2c94c;
}

.stickers-0 {
  color: #e9f3ff;
}

.bg-stickers-0 {
  background-color: #e9f3ff;
}

.stickers-1 {
  color: #fdcfa4;
}

.bg-stickers-1 {
  background-color: #fdcfa4;
}

.stickers-2 {
  color: #f9e9c3;
}

.bg-stickers-2 {
  background-color: #f9e9c3;
}

.stickers-3 {
  color: #f9e9c3;
}

.bg-stickers-3 {
  background-color: #f9e9c3;
}

.stickers-4 {
  color: #afebdb;
}

.bg-stickers-4 {
  background-color: #afebdb;
}

.stickers-5 {
  color: #cbf1c2;
}

.bg-stickers-5 {
  background-color: #cbf1c2;
}

.stickers-6 {
  color: #cfcef9;
}

.bg-stickers-6 {
  background-color: #cfcef9;
}

.stickers-7 {
  color: #f9e0fd;
}

.bg-stickers-7 {
  background-color: #f9e0fd;
}

.chats-shade-0 {
  color: #fceed3;
}

.bg-chats-shade-0 {
  background-color: #fceed3;
}

.chats-0 {
  color: #e5a443;
}

.bg-chats-0 {
  background-color: #e5a443;
}

.chats-shade-1 {
  color: #eedcff;
}

.bg-chats-shade-1 {
  background-color: #eedcff;
}

.chats-1 {
  color: #9b51e0;
}

.bg-chats-1 {
  background-color: #9b51e0;
}

.chats-shade-2 {
  color: #d2f2ea;
}

.bg-chats-shade-2 {
  background-color: #d2f2ea;
}

.chats-2 {
  color: #43b78d;
}

.bg-chats-2 {
  background-color: #43b78d;
}

[class^=col] {
  flex-basis: 100%;
}

@media (width > 960px) {
  .col-1 {
    flex: 0 0 8.3333333333%;
  }
}
@media (width > 960px) {
  .col-2 {
    flex: 0 0 16.6666666667%;
  }
}
@media (width > 960px) {
  .col-3 {
    flex: 0 0 25%;
  }
}
@media (width > 960px) {
  .col-4 {
    flex: 0 0 33.3333333333%;
  }
}
@media (width > 960px) {
  .col-5 {
    flex: 0 0 41.6666666667%;
  }
}
@media (width > 960px) {
  .col-6 {
    flex: 0 0 50%;
  }
}
@media (width > 960px) {
  .col-7 {
    flex: 0 0 58.3333333333%;
  }
}
@media (width > 960px) {
  .col-8 {
    flex: 0 0 66.6666666667%;
  }
}
@media (width > 960px) {
  .col-9 {
    flex: 0 0 75%;
  }
}
@media (width > 960px) {
  .col-10 {
    flex: 0 0 83.3333333333%;
  }
}
@media (width > 960px) {
  .col-11 {
    flex: 0 0 91.6666666667%;
  }
}
@media (width > 960px) {
  .col-12 {
    flex: 0 0 100%;
  }
}
.pr-sm {
  padding-right: 22px;
}

.mr-sm {
  margin-right: 22px;
}

.pl-sm {
  padding-left: 22px;
}

.ml-sm {
  margin-left: 22px;
}

.pt-sm {
  padding-top: 22px;
}

.mt-sm {
  margin-top: 22px;
}

.pb-sm {
  padding-bottom: 22px;
}

.mb-sm {
  margin-bottom: 22px;
}

.pr-md {
  padding-right: 24px;
}

.mr-md {
  margin-right: 24px;
}

.pl-md {
  padding-left: 24px;
}

.ml-md {
  margin-left: 24px;
}

.pt-md {
  padding-top: 24px;
}

.mt-md {
  margin-top: 24px;
}

.pb-md {
  padding-bottom: 24px;
}

.mb-md {
  margin-bottom: 24px;
}

.pr-lg {
  padding-right: 32px;
}

.mr-lg {
  margin-right: 32px;
}

.pl-lg {
  padding-left: 32px;
}

.ml-lg {
  margin-left: 32px;
}

.pt-lg {
  padding-top: 32px;
}

.mt-lg {
  margin-top: 32px;
}

.pb-lg {
  padding-bottom: 32px;
}

.mb-lg {
  margin-bottom: 32px;
}

.px-sm {
  padding: 0 22px;
}

.mx-sm {
  margin: 0 22px;
}

.py-sm {
  padding: 22px 0;
}

.my-sm {
  margin: 22px 0;
}

.pa-sm {
  padding: 22px;
}

.ma-sm {
  margin: 22px;
}

.px-md {
  padding: 0 24px;
}

.mx-md {
  margin: 0 24px;
}

.py-md {
  padding: 24px 0;
}

.my-md {
  margin: 24px 0;
}

.pa-md {
  padding: 24px;
}

.ma-md {
  margin: 24px;
}

.px-lg {
  padding: 0 32px;
}

.mx-lg {
  margin: 0 32px;
}

.py-lg {
  padding: 32px 0;
}

.my-lg {
  margin: 32px 0;
}

.pa-lg {
  padding: 32px;
}

.ma-lg {
  margin: 32px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.text-sm {
  font-size: 12px;
}

.text-md {
  font-size: 14px;
}

.text-lg {
  font-size: 16px;
}

.text-bold {
  font-weight: bold;
}

.text-regular {
  font-weight: 400;
}

.floating-container {
  width: 100px;
  height: 100px;
  padding: 0 40px 33px 0;
  position: relative;
}
.floating-container .floating-button {
  position: absolute;
  width: 68px;
  height: 68px;
  line-height: 80px;
  background-color: var(--color-primary-0);
  border-radius: 50%;
  cursor: pointer;
  color: white;
  text-align: center;
  font-size: 23px;
}
.floating-container .element-container {
  position: relative;
  text-align: center;
  top: 8px;
}
.floating-container .element-container .float-element {
  z-index: -1;
  transition: transform 1.25s ease-in;
  position: absolute;
}
.floating-container .element-container .float-element:nth-child(1) {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  line-height: 80px;
  background-color: #f2f2f2;
  transform: translateX(0);
}
.floating-container .element-container .float-element:nth-child(2) {
  background-color: #f2f2f2;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  line-height: 80px;
  transform: translateX(0);
}
.floating-container .element-container .slide-on {
  z-index: 1;
}
.floating-container .element-container .slide-on:nth-child(1) {
  transform: translateX(-220px);
}
.floating-container .element-container .slide-on:nth-child(2) {
  transform: translateX(-120px);
}

:root {
  --color-primary-0: #2f80ed;
  --color-primary-1: #4f4f4f;
  --color-primary-2: #828282;
  --color-primary-3: #e0e0e0;
  --color-indicators-0: #f8b76b;
  --color-indicators-1: #8785ff;
  --color-indicators-2: #eb5757;
  --color-indicators-3: #f2c94c;
  --color-stickers-0: #e9f3ff;
  --color-stickers-1: #fdcfa4;
  --color-stickers-2: #f9e9c3;
  --color-stickers-3: #f9e9c3;
  --color-stickers-4: #afebdb;
  --color-stickers-5: #cbf1c2;
  --color-stickers-6: #cfcef9;
  --color-stickers-7: #f9e0fd;
  --color-chats-shade-0: #fceed3;
  --color-chats-0: #e5a443;
  --color-chats-shade-1: #eedcff;
  --color-chats-1: #9b51e0;
  --color-chats-shade-2: #d2f2ea;
  --color-chats-2: #43b78d;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
  background-color: #333;
  min-height: 100dvh;
  display: flex;
  flex-direction: row;
}

.side-main {
  width: 285px;
}

.wrapper-main {
  width: 100%;
  border-left: 1px solid #f2f2f2;
  position: relative;
}
.wrapper-main footer {
  position: absolute;
  bottom: 0;
  right: 0;
}/*# sourceMappingURL=globals2.css.map */